<section id="principal">
  <div id="filtro"></div>
  <div class="largo-completo">
    <h1 class="blanco centrar">Los Pinos</h1>
    <h3 class="blanco centrar">El lugar ideal</h3>
  </div>
</section>
<section class="medidas " >
  <div  class="medidas largo-mitad alinidado-izquierda">
    <div>
      <h2>Descubre los Pinos</h2>
      <h5>El lujo debe ser cómodo</h5>
      <button class="style-button">Sobre Nosotros</button>
    </div>
  </div>
  <div id="segunda-imagen" class=" medidas largo-mitad aliniado-derecha"></div>
</section>
<section class="medidas " >
  <div id="tercer-imagen" class=" medidas largo-mitad aliniado-derecha"></div>
  <div  class="medidas largo-mitad">
    <div>
      <h2>Habitaciones</h2>
      <h5>Queremos que te sientes como en casa.</h5>
      <p>Nuestras habitaciones de lujo son nuestras habitaciones más amplias y proporcionan un excelente alojamiento de escapada. Las habitaciones ofrecen una cama King o una cama doble o dos reinas con algunas habitaciones que ofrecen salas de estar y sofá cama adicional.</p>
      <button class="style-button">Mira Habitaciones</button>
    </div>
  </div>
</section>
<section class="medidas " >
  <div  class="medidas largo-mitad">
    <div>
      <h2>Comida</h2>
      <h5>Degusta nuestras delicias gourmet.</h5>
      <p>Cocineros, catering, hoteles, cadenas de tiendas especializadas de alimentos, tiendas gourmet, y tiendas de comestibles finos aprecian por igual nuestra filosofía, nuestra experiencia DOC, nuestra mezcla de productos único y un servicio eficiente.
      <br><br> Los Pinos, en primer lugar, somos amantes de la comida, estamos realmente apasionado de los manjares originales comida gourmet.</p>
      <button class="style-button">Descubre más</button>
    </div>
  </div>
  <div id="cuarta-imagen" class=" medidas largo-mitad aliniado-derecha"></div>
</section>
<section class="medidas " >
  <div id="quinta-imagen" class=" medidas largo-mitad aliniado-derecha"></div>
  <div  class="medidas largo-mitad">
    <div>
      <h2>Eventos.</h2>
      <h5>Nunca te vas a aburrir con nosotros.</h5>
      <p>Con nuestro amplio conocimiento de la zona podemos adaptar sus paseos o excursiones en bicicleta de montaña para adaptarse a sus capacidades y preferencias.
      <br><br>Si usted está considerando un caballo especial o vacaciones al aire libre en cualquier parte del mundo, llámenos primero y deje que nuestro personal con experiencia coinciden con las vacaciones perfectas con su sueño.</p>
      <button class="style-button">Areas Verdes</button>
    </div>
  </div>
</section>
<section class="medidas">
  <div class="largo-cuartos medidas">
      <div>
        <h2>Inmuebles</h2>
        <h5>Ultimas adquisisciones.</h5>
        <button id="style-button-Parte5" class="style-button">Todas</button>
      </div>
  </div>
  <div id="quintasesscion-imagenuno" class="largo-cuartos medidas"></div>
  <div id="quintasesscion-imagendos" class="largo-cuartos medidas"></div>
  <div id="quintasesscion-imagentres" class="largo-cuartos medidas"></div>
</section>
<section class="medidas " >
  <div id="sexta-imaen" class=" medidas"></div>
  <div class="largo-completo centrar">
    <h1 class="blanco centrar">Promocion en bosque alto</h1>
    <h3 class="blanco centrar">50% rebajado.</h3>
    <button id="style-button-Parte5"  >Mirar Promociones</button>
  </div>
</section>
<section>
  <div class="centrar">
    <h2>Tus opiniones son importantes</h2>
    <h5>Lo que nuestros clientes dicen sobre nosotros.</h5>
  </div>
  <div>
    aqui va el carrusel
  </div>
</section>
<section class="medidas">
  <div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15008008.673062624!2d-111.65596616204763!3d23.31341419993274!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x84043a3b88685353%3A0xed64b4be6b099811!2zTcOpeGljbw!5e0!3m2!1ses!2smx!4v1600368312253!5m2!1ses!2smx" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>  </div>
  <div >
    <div class="medidas largo-mitad">
      <div>
        <h2>El Lugar.</h2>
        <h5>Vive México.</h5>
        <p>situado en la parte más meridional de América del Norte, entre el océano Pacífico al sur y al oeste, y el golfo de México y el mar Caribe al este. <br><br> El país está compuesto por 32 entidades federativas</p>
      </div>
    </div>
  </div>
</section>
<section class="medidas">
  <div id="decimasecion-imagenuno" class="largo-cuartos ">
    <div class="filtro-imagenes centrar centrado-vertical" >Comedor</div>
  </div>
  <div id="decimasecion-imagendos" class="largo-cuartos medidas">
    <div class="filtro-imagenes centrar centrado-vertical">Salas</div>
  </div>
  <div id="decimasecion-imagentres" class="largo-cuartos medidas">
    <div class="filtro-imagenes centrar centrado-vertical">Cocina</div>
  </div>
  <div id="decimasecion-imagencuatro" class="largo-cuartos medidas">
    <div class="filtro-imagenes centrar centrado-vertical">Mesa</div>
  </div>
</section>

